<header>
    <nav class = "navbar">
        <div class="navbar-container">
            <a href="/" id="navbar-logo"> <img src="/img/cc-Logo.jpg" alt="Logo" id="logo"></a>
            <div class="navbar-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <% if (user) { %>
                <ul class="navbar-menu">
                    <li class="navbar-item">
                        <a href="/#options" class="navbar-link">Volunteer!</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/account" class="navbar-link">Profile</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/logout" class="navbar-link">Logout</a>
                    </li>
                </ul>
            <% } else { %>
                <ul class="navbar-menu">
                    <li class="navbar-item">
                        <a href="/#options" class="navbar-link">Volunteer!</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/register" class="navbar-link">Register</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/login" class="navbar-link">Login</a>
                    </li>
                </ul>
            <% } %> 
        </div>        
    </nav>
</header>
<script src="/js/navmenu.js"></script>
    