<header>
    <nav class = "navbar">
        <div class="navbar-container">
            <a href="/" id="navbar-logo"> <img src="/img/cc-Logo.jpg" alt="Logo" id="logo"></a>
            <div class="navbar-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar-menu">
                <li class="navbar-item">
                    <a href="" class="navbar-link">Register</a>
                </li>
                <li class="navbar-item">
                    <a href="" class="navbar-link">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<script src="/js/navmenu.js"></script>
    