<title>Login</title>

<form class="form" method="POST" action="/login-confirm">
    <div class="form-header">
        <h1>Login</h1>
        <p>Please enter your details below</p>
    </div>
    
    <div class="form-item">
        <span class="form-icon material-symbols-outlined">mail</span>
        <input type="email" id="Email" name="Email" placeholder="Enter Email" required autofocus><br>
    </div>

    <div class="form-item">
        <span class="form-icon material-symbols-outlined">lock</span>
        <input type="password" id="password" name="password" placeholder="Enter Password"><br>
    </div>

    <button type="submit">Sign In</button>
</form>