<title>Register</title>

<form class="form" method="" action="">
    <div class="form-header">
        <h1>Register</h1>
        <p>Please enter your details below</p>
    </div>

    <div class="form-item">
        <span class="form-icon material-symbols-outlined">person</span>
        <input type="text" id="username" name="username" placeholder="Enter Username" required autofocus><br>
    </div>

    <div class="form-item">
        <span class="form-icon material-symbols-outlined">lock</span>
        <input type="password" id="password" name="password" placeholder="Enter Password"><br>
    </div>

    <div class="form-item">
        <span class="form-icon material-symbols-outlined">id_card</span>
        <input type="text" id="name" name="name" placeholder="Enter your Name"><br>
    </div>

    <div class="form-item">
        <span class="form-icon material-symbols-outlined">mail</span>
        <input type="email" id="email" name="email" placeholder="Enter your Email"><br>
    </div>

    <button type="submit">Submit</button>
</form>