<link href="/css/index.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<div id="home">
    <div class="home-container">
        <div id="home-text">
            <h1>"Cambodia Calls! Volunteer and Make a Difference!"</h1>
            <p>Lets make a difference...</p>
        </div>
        <a href="#testimonials" class="arrow"></a>
    </div>
</div>

<div id="testimonials" class="testimonials">
    <div class="-testimonials-container">
        <div class="testimonials-header">
            <h2 class="testimonial-title">what our volunteers say</h2>
        </div>
        <div class="swiper mySwiper testimonial-content">
            <div class="swiper-wrapper">
                <div class="swiper-slide testimonials-item">
                    <div class="testimonial-info">
                        <img src="img/volunteer1.jpg" alt="">
                        <div class="testimonial-text-box">
                            <h3 class="test-name">Harry McDonagh</h3>
                            <span class="test-job">Student</span>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci excepturi quibusdam molestiae ipsam, hic similique in fugit deserunt amet aliquam 
                    commodi dicta cum maxime deleniti id facilis earum laborum. Rerum!</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <div class="swiper-slide testimonials-item">
                        <div class="testimonial-info">
                            <img src="img/volunteer1.jpg" alt="">
                            <div class="testimonial-text-box">
                                <h3 class="test-name">Oscar Stacey</h3>
                                <span class="test-job">Student</span>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci excepturi quibusdam molestiae ipsam, hic similique in fugit deserunt amet aliquam 
                        commodi dicta cum maxime deleniti id facilis earum laborum. Rerum!</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                </div>
                <div class="swiper-slide testimonials-item">
                        <div class="testimonial-info">
                            <img src="img/volunteer1.jpg" alt="">
                            <div class="testimonial-text-box">
                                <h3 class="test-name">Ben Stannard</h3>
                                <span class="test-job">Student</span>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci excepturi quibusdam molestiae ipsam, hic similique in fugit deserunt amet aliquam 
                        commodi dicta cum maxime deleniti id facilis earum laborum. Rerum!</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                </div>
                <div class="swiper-slide testimonials-item">
                        <div class="testimonial-info">
                            <img src="img/volunteer1.jpg" alt="">
                            <div class="testimonial-text-box">
                                <h3 class="test-name">Sam Pyle</h3>
                                <span class="test-job">Student</span>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci excepturi quibusdam molestiae ipsam, hic similique in fugit deserunt amet aliquam 
                        commodi dicta cum maxime deleniti id facilis earum laborum. Rerum!</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                </div>
                <div class="swiper-slide testimonials-item">
                        <div class="testimonial-info">
                            <img src="img/volunteer1.jpg" alt="">
                            <div class="testimonial-text-box">
                                <h3 class="test-name">Gleb Kruglov</h3>
                                <span class="test-job">Student</span>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci excepturi quibusdam molestiae ipsam, hic similique in fugit deserunt amet aliquam 
                        commodi dicta cum maxime deleniti id facilis earum laborum. Rerum!</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

<script src="/js/scroll.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween:30,
      grabCursor: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>