<link href="/css/index.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<div id="home">
    <div class="home-container">
        <div id="home-text">
            <h1>"Pu Nagol Calls! Volunteer and Make a Difference!"</h1>
            <p>Lets make a difference together...</p>
        </div>
        <a href="#options" class="arrow"></a>
    </div>
</div>

<div id="options">
    <div class="options-header">
        <h1>Why volunteer?</h1>
        <p>Volunteering in Pu Nagol offers a chance to address critical issues and make a real difference. By helping build and renovate schools, you can improve quality of education for kids. Food insecurity is another major problem, with many struggling to access nutritious meals. Join us in Pu Nagol and be part of the change that transforms lives and communities.</p>
    </div>
    <div class="options-header2">
        <h1>Volunteering Options</h1>
        <p>Below are some of the volunteering options we offer</p>
    </div>
    <div class="options-container">
        <div class="card">
            <img src="/img/builder-volunteer.jpg" alt="Plan Ahead" class="card-img">
            <div class="card-text" id="card-text1">
                <h1>Build</h1>
                <p>Help build and improve schools in Pu Nagol</p>
                <p>Click to find out more!</p>
            </div>
        </div>
        <div class="card">
            <img src="/img/volunteer-teach.jpg" alt="Convenience" class="card-img">
            <div class="card-text" id="card-text2">
                <h1>Teach</h1>
                <p>Do you have a passion for helping empovrished kids learn english and other life skills</p>
                <p>Click to find out more!</p>
            </div>
        </div>
        <div class="card">
            <img src="/img/food-donate.jpg" alt="Bookings" class="card-img">
            <div class="card-text" id="card-text3">
                <h1>Food</h1>
                <p>Unable to volunteer? Send a donation!</p>
                <p>Click to find out more!</p>
            </div>
        </div>
    </div>
    <div class="options-footer-container">
        <div class="options-footer">
            <a href="#testimonials">Check out what previous Volunteers thought</a>
        </div>
    </div>
    
</div>

<div id="testimonials" class="testimonials">
    <div class="-testimonials-container">
        <div class="testimonials-header">
            <h2 class="testimonial-title">what our volunteers say</h2>
        </div>
        <div class="swiper mySwiper testimonial-content">
            <div class="swiper-wrapper">
                <div class="swiper-slide testimonials-item">
                    <div class="testimonial-info">
                        <img src="img/volunteer1.jpg" alt="">
                        <div class="testimonial-text-box">
                            <h3 class="test-name">Harry McDonagh</h3>
                            <span class="test-job">Student</span>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci excepturi quibusdam molestiae ipsam, hic similique in fugit deserunt amet aliquam 
                    commodi dicta cum maxime deleniti id facilis earum laborum. Rerum!</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <div class="swiper-slide testimonials-item">
                        <div class="testimonial-info">
                            <img src="img/volunteer1.jpg" alt="">
                            <div class="testimonial-text-box">
                                <h3 class="test-name">Oscar Stacey</h3>
                                <span class="test-job">Student</span>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci excepturi quibusdam molestiae ipsam, hic similique in fugit deserunt amet aliquam 
                        commodi dicta cum maxime deleniti id facilis earum laborum. Rerum!</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                </div>
                <div class="swiper-slide testimonials-item">
                        <div class="testimonial-info">
                            <img src="img/volunteer1.jpg" alt="">
                            <div class="testimonial-text-box">
                                <h3 class="test-name">Ben Stannard</h3>
                                <span class="test-job">Student</span>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci excepturi quibusdam molestiae ipsam, hic similique in fugit deserunt amet aliquam 
                        commodi dicta cum maxime deleniti id facilis earum laborum. Rerum!</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                </div>
                <div class="swiper-slide testimonials-item">
                        <div class="testimonial-info">
                            <img src="img/volunteer1.jpg" alt="">
                            <div class="testimonial-text-box">
                                <h3 class="test-name">Sam Pyle</h3>
                                <span class="test-job">Student</span>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci excepturi quibusdam molestiae ipsam, hic similique in fugit deserunt amet aliquam 
                        commodi dicta cum maxime deleniti id facilis earum laborum. Rerum!</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                </div>
                <div class="swiper-slide testimonials-item">
                        <div class="testimonial-info">
                            <img src="img/volunteer1.jpg" alt="">
                            <div class="testimonial-text-box">
                                <h3 class="test-name">Gleb Kruglov</h3>
                                <span class="test-job">Student</span>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci excepturi quibusdam molestiae ipsam, hic similique in fugit deserunt amet aliquam 
                        commodi dicta cum maxime deleniti id facilis earum laborum. Rerum!</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

<script src="/js/scroll.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween:30,
      grabCursor: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>